.pagetitle{font-size:36px; margin-top:20px; margin-bottom: 20px;}

ul.products{padding-left:0;margin-bottom: 0}

.products li{list-style-type: none; padding-bottom: 15px; padding-top:15px; border-bottom: 1px solid #ccc;}