{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="pagetitle">Releases for {{ product.name }}</h1>
    <p>Choose the version of your product below to access the installation files.</p>
{% for mainline in mainlines %}
    <h2>{{ mainline.name }}</h2>
    {% for release in releases_by_mainline[mainline.pk] %}
        <ul class="products">
            <li>
                <a href="{{ url('release_view', kwargs={'product_id': release.mainline.product.pk, 'release_id': release.pk}) }}">{{ release.version_number }} - {{ release.release_date }}</a>
            </li>
        </ul>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}