{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="pagetitle">Downloads for {{ product.name }}, {{ release.version_number }}</h1>
<p>Choose from the following installation files.</p>
<ul class="products">
{% for file in files %}
    <li>
        <h3>{{ file.file_type.name }}</h3>
        <a href="{{ url('release_download', kwargs={'product_id': release.mainline.product.pk, 'release_id': release.pk, 'release_file_id': file.pk}) }}">{{ file.get_filename() }}</a>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}