{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="display: flex;">
        <h1 class="pagetitle" style="margin-right:10px;"><i style="color:#f58200;" class="fas fa-cloud-download-alt"></i></h1><h1 class="pagetitle">Downloads for {{ product.name }}, {{ release.version_number }}</h1>
    </div>
        <p>Choose from the following installation files.</p>
<ul class="products">
{% for file in files %}
    <li>
        <h3>{{ file.file_type.name }}</h3>
        <a href="{{ url('release_download', kwargs={'product_id': release.mainline.product.pk, 'release_id': release.pk, 'release_file_id': file.pk}) }}">{{ file.get_filename() }}</a>
    </li>
{% endfor %}
</ul>
    <h2 style="margin-right:10px; margin-bottom: 20px;">Release Notes for {{ product.name }}, {{ release.version_number }}</h1>
    <div>
        {{ release.notes|replace('\n', '<br>'|safe) }}
    </div>
</div>
{% endblock %}
